@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #4B5A3B;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fondo {
    background: #4B5A3B;
}

.fondo2 {
    background: #4B5A3B;
}